$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// endbower


.json-container {
    
}

.panel {
    margin-bottom:0;
}

.copy-icon {
    display: inline-block;
}