$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
html,
body {
  overflow: hidden;
  height: 100%;
}

.json-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.panel {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  border: 0;
}

.panel-heading {
  background-color: #eeeeef !important;
}

.panel-body {
  padding: 0;
  height: calc(100vh - 50px);
}

.panel-icon {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.panel-icon+.panel-icon {
  margin-left: 10px;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 0;
  resize: none;
  outline: none;
}

.code-toolbar {
  width: 100%;
  height: 100%;
  padding: 15px !important;
  margin:0 !important;
  border: 0 !important;
  resize: none;
  outline: none;
  box-shadow:none !important;
}

.code-toolbar code {
  padding:0 !important;
}

::-webkit-input-placeholder {
  font-size: 30px;
  color: lightgray;
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 30px;
  color: lightgray;
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 30px;
  color: lightgray;
  text-align: center;
}

:-ms-input-placeholder {
  font-size: 30px;
  color: lightgray;
  text-align: center;
}

#vertical {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

#left-pane,
#right-pane {
  color: #000;
  background-color: #eee;
}

.pane-content {
  width: 100%;
  height: 100%;
  padding:0 10px;
}

#left-pane .pane-content{ 
  padding-right:0;
}

#right-pane .pane-content{
  padding-left:0;
}

.k-widget *,
.k-widget :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.k-splitbar-horizontal .k-icon { 
  width: 20px;
}

.k-splitbar-horizontal .k-i-arrow-60-right {
  margin-left: -10px;
}

.k-splitbar-horizontal .k-i-arrow-60-left {
  margin-left: -7px;
}

.k-splitbar .k-i-arrow-60-down,
.k-splitbar .k-i-arrow-60-left,
.k-splitbar .k-i-arrow-60-right,
.k-splitbar .k-i-arrow-60-up {
  font-size:29px;
  color:#999 !important;
  opacity:1 !important;
}

.k-splitter .k-splitbar-horizontal {
  width:15px;
}

.k-splitbar-draggable-horizontal .k-resize-handle {
  width:6px;
  margin-left:4px;
  margin-top:-6px;
  background-color: #999 !important;
  opacity:1 !important;
}

.k-splitbar{
  border-color: #eeeeef !important;
  background-color: #eeeeef !important;
}

.k-splitbar-draggable-horizontal {
  cursor: col-resize;
}
